/* Icon animations */
.template-icon {
  &-background {
    fill: $gray-200;
  }
}

/* Headline icon */
.headline {
  &-bar {
    fill: $gray-300;
  }

  &-active {
    .headline-bar--1 {
      transition: .4s ease-in-out;
      width: 0;
    }

    .headline-bar--2 {
      transition: .4s ease-in-out;
      transition-delay: .2s;
      width: 0;
    }

    .headline-bar--3 {
      transition: .4s ease-in-out;
      transition-delay: .3s;
      width: 0;
    }
  }
}

.template-item {
  &:hover {
    .headline-bar {
      &--1 {
        width: 50px;
      }

      &--2 {
        width: 260px;
      }

      &--3 {
        width: 160px;
      }
    }
  }
}

/* Quote icon */
.quote {
  &-bar,
  &-glyph {
    fill: $gray-300;
  }

  &-active {
    .quote-glyph-active {
      transition: .4s ease-in-out;
      opacity: 0;
    }

    .quote-bar--1 {
      transition: .4s ease-in-out;
      width: 0;
    }

    .quote-bar--2 {
      transition: .4s ease-in-out;
      transition-delay: .2s;
      width: 0;
    }

    .quote-bar--3 {
      transition: .4s ease-in-out;
      transition-delay: .3s;
      width: 0;
    }
  }
}

.template-item {
  &:hover {
    .quote-glyph-active {
      opacity: 1;
    }

    .quote-bar {
      &--1 {
        width: 180px;
      }

      &--2 {
        width: 260px;
      }

      &--3 {
        width: 160px;
      }
    }
  }
}
