.banner {
  position: fixed;
  z-index: 10000;
  border: 2px black solid;
}

.banner-canvas {
  &.blobs {
    &-feminista {
      .blob-1, .blob-2 {
        background: $gradient-feminista;
      }
    }
    &-lgtb {
      .blob-1, .blob-2 {
        background: $gradient-lgtb !important;
        background-size: 50% 33.4% !important;
        --gradient-orientation: 90deg !important;
      }
    }
  }
  .blob {
    position: absolute;
    width: 720px;
    height: 720px;
    overflow: hidden;
    border-radius: $border-radius;
    background: $gradient;
    transform: rotate($rotation);
    transition: all .5s ease-in-out;

    &-image {
      background: $gray-300;

      img {
        transform: rotate(-$rotation);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .logo {
    display: flex;
    position: absolute;
    right: 35px;
    bottom: 25px;
    align-items: center;

    svg {
      height: 30px;
    }

    &-local-label {
      margin-left: .75rem;
      font-size: 20px;
      letter-spacing: -.3px;
      line-height: 1;
      white-space: nowrap;

      &--long {
        font-size: .95rem;
        white-space: normal;
        width: 90px;
      }
    }
  }

  .hashtag {
    position: absolute;
    z-index: 30;
    bottom: 20px;
    left: 35px;
    color: $white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -.3px;
  }

  [contenteditable]:hover {
    background: rgba($primary, .1);
    outline: .5rem rgba($primary, .1) solid;
  }
  [contenteditable]:focus {
    background: rgba($primary, .2);
    outline: .5rem rgba($primary, .2) solid;
  }
}
