@font-face {
  font-family: "Compromis";
  src: url("../assets/fonts/akkurat-webfont.eot?2");
  src: url("../assets/fonts/akkurat-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/akkurat-webfont.woff?2") format("woff"),
    url("../assets/fonts/akkurat-webfont.ttf?2") format("truetype"),
    url("../assets/fonts/akkurat-webfont.svg#AkkuratRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Compromis";
  src: url("../assets/fonts/akkurat-bold-webfont.eot?2");
  src: url("../assets/fonts/akkurat-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/akkurat-bold-webfont.woff?2") format("woff"),
    url("../assets/fonts/akkurat-bold-webfont.ttf?2") format("truetype"),
    url("../assets/fonts/akkurat-bold-webfont.svg#Akkurat-BoldRegular")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MesCompromis";
  src: url("../assets/fonts/Manrope3-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Manrope3-ExtraBold.woff") format("woff"),
    url("../assets/fonts/Manrope3-ExtraBold.ttf") format("truetype"),
    url("../assets/fonts/Manrope3-ExtraBold.svg#Manrope3-ExtraBold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "variables";
@import "animations";
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "pane";
@import "easteregg";

.banner {
  position: fixed;
  z-index: 10000;
  border: 2px black solid;
}

@media (max-width: $xl-breakpoint + 150) and (min-width: $xs-breakpoint) {
  html {
    font-size: 14px;
  }
}
