.upload {
  width: 100%;

  .upload-draggable {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.banner-disposition .tab-content {
  display: none;
}

.tabs a {
  background: $white;
}

.tabs-field {
  .tab-content {
    display: none;
  }
}

.field {
  position: relative;

  &:last-child {
    margin-bottom: 1.5rem;
  }
}

.textarea-small .textarea {
  min-height: 4.3rem;
}

.control .help.counter {
  position: absolute;
  bottom: -25px;
  right: 0;
}

.field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.dropdown-item .field {
  margin-bottom: 0;
}

.gradient-start {
  stop-color: $gradient-start;
}

.gradient-end {
  stop-color: $gradient-end;
}

.v-step__content {
  strong {
    color: $white;
  }
}

.vue-swatches__trigger {
  height: 2.25rem !important;
  width: 2.25rem !important;
  border-radius: 4px !important;
}

@media (max-width: $xs-breakpoint) {
  .pane {
    transition: background .25s ease-in-out;

    .field {
      transition: opacity .25s ease-in-out;
    }

    .field.range {
      padding: 1rem .5rem;
      margin: -1rem -.5rem .5rem -.5rem;
      border-radius: 10px;
    }

    &-dimmed {
      background: transparent !important;
      box-shadow: none !important;
    
      .field {
        opacity: 0;

        &.range {
          opacity: 1;
          background: white;
          box-shadow: $default-shadow;
        }
      }
    }
  }
}
